.count{
    font-size: 150px;
    padding: 20px;
    text-align: center;
}

.Counter{
    text-align: center;
}

.counter{
text-align: center;
color:blue;
}

.resetButton{
    color: white;
    background-color: purple;
    border-color: black;
    border-radius: 50px;
    border-width: 5px;
    font-size: 30px;
    padding: 20px;
    margin: 15px;
    width: 300px;
}
